<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [4]:
import pandas as pd

In [5]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [6]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [13]:
# You code here 
# data[data['Sex'] == 'M']['Age'].min()
male = data[data['Year'] == 1996][data['Sex'] == 'M']['Age'].min()
female = data[data['Year'] == 1996][data['Sex'] == 'F']['Age'].min()
print("Youngest male: {0} and Youngest Female: {1}".format(male, female))

Youngest male: 14.0 and Youngest Female: 12.0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [15]:
# You code here 
male_participants = data.loc[(data['Sex'] == 'M') & (data['Year'] == 2000), 'Name'].nunique()
male_gymnasts = data.loc[(data['Sex'] == 'M') & (data['Year'] == 2000) & (data['Sport'] == 'Gymnastics'), 'Name'].nunique()
male_gymnasts/male_participants * 100

1.4750608272506083

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [17]:
# You code here Check uniqueness

heights = data.loc[(data['Sex'] == 'F') & (data['Year'] == 2000) & (data['Sport'] == 'Basketball'), 'Height']
print("this is mean: {0}, and this is the standard deviation : {1}".format(heights.mean(), heights.std()))

this is mean: 182.38732394366198, and this is the standard deviation : 9.139462087892174

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [19]:
# You code here 
max = data.loc[(data['Year'] == 2002)]['Weight'].max(axis=0)
row = data.loc[(data['Year'] == 2002) & (data['Weight'] == max)]
row

123.0

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [ ]:
# You code here 
data.loc[(data['Name'] == 'Pawe Abratkiewicz'), 'Year'].nunique()

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [138]:
# You code here 
data.loc[(data['Team'] == 'Australia') & (data['Year'] == 2000) & (data['Sport'] == 'Tennis') & (data['Medal'].isin(['Silver']))].shape[0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [154]:
# You code here 
serbia_medals = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Serbia') & (data['Medal'].isin(['Silver', 'Gold', 'Bronze']))].shape[0]
switzerland_medals = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Switzerland') & (data['Medal'].isin(['Silver', 'Gold', 'Bronze']))].shape[0]
serbia_medals > switzerland_medals

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [178]:
# You code here 
games = data.loc[data['Year'] == 2014]
ov_45 = data.loc[(data['Year'] == 2014) & (data['Age'] >= 45) & (data['Age'] <= 55)].shape[0]
ov_35 = data.loc[(data['Year'] == 2014) & (data['Age'] >= 35) & (data['Age'] <= 45)].shape[0]
ov_25 = data.loc[(data['Year'] == 2014) & (data['Age'] >= 25) & (data['Age'] <= 35)].shape[0]
ov_15 = data.loc[(data['Year'] == 2014) & (data['Age'] >= 15) & (data['Age'] <= 25)].shape[0]
ov_45, ov_35, ov_25, ov_15

(5, 266, 2676, 2422)

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [165]:
# You code here 
summer = data.loc[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')].shape[0]
winter = data.loc[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].shape[0]
print(summer)
print(winter)

0
1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [170]:
# You code here 
games_1 = data.loc[(data['Year'] == 1995), 'Sport'].unique().shape[0]
games_2 = data.loc[(data['Year'] == 2016), 'Sport'].unique().shape[0]
games_2 - games_1

34